body {
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #dfdfdf;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 0px solid red;
}


li {
    float: left;
}

li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #383838;
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 5px 2px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    background-color: #979797; /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 1.25rem;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #646464;
}

.navbar {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #616161;
    -webkit-transition: 0.5s;
}

.flashes {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b93a32;
    -webkit-transition: 0.5s;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 11px 32px;
    /* 10px 20px */
}


.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}



.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #979797;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #646464;
}

button.accordion {
    background-color: #979797;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #646464;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #ddd;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

textarea {
    resize:vertical ; 
    width: 100%;    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

textarea:focus {
    border: 3px solid #555;
}



.mission-status {
	color: #fff;
	font-size: 17px;

}

.mission-status.evaluating {
    background-color: #cfe168;
}

.mission-status.accepted {
	background-color: #68e17c;
}

.mission-status.rejected {
	background-color: #e86868;
}

.mission-type {
    color: #fff;
}

.mission-type.co {
    background-color: #4a6785;
}

.mission-type.cotvt {
    background-color: #4a6785;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4a6785, endColorstr=#d04437);
    background-image: -moz-linear-gradient(left, #4a6785 50%, #d04437 50%);
    background-image: -webkit-linear-gradient(left, #4a6785 50%, #d04437 50%);
    background-image: -ms-linear-gradient(left, #4a6785 50%, #d04437 50%);
    background-image: linear-gradient(left, #4a6785 50%, #d04437 50%);
    background-image: -o-linear-gradient(left, #4a6785 50%, #d04437 50%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(50%,#4a6785), color-stop(50%,#d04437));
}

.mission-type.tvt {
    background-color: #d04437;
}

.mission-type.gtvt {
    background-color: #14892c;
}

.mission-type.custom {
    background-color: #815b3a;
}

.mission-player-count {
    width: 30px;
    color: #FFF;
    background-color: #f29747;
}

.mission-name {
    color: #000;
    background-color: #99b4ba;
}

.mission-edit {
	width: 100px;
    color: #000;
    background-color: #99b4ba;
}

.mission-collapse {
    cursor: pointer;
}

.mission-world {
    width: 190px;
    color: #FFF;
    background-color: #294546;
}

.mission-delete {
    width: 90px;
    color: #FFF;
    background-color: #294546;
}

div.mission-delete *
{
	color: #ea8282;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #95e868;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-70px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-70px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-70px);
    -webkit-animation: slideDown 5.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-70px);
    -moz-animation:    slideDown 5.5s 1.0s 1 ease forwards;
}
.notification {
    color: #fff;
    font-size: 26px;
}

