<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arma 3 missions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/missions.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-text">
            Missionary
        </div>
            <ul class=navbar>
                <li><a href="{{url_for('missions.display_submissions')}}">Submissions</a></li>
                <li><a class="navbar-active" href="#">On server</a></li>
                <li><a href="#">Submit</a></li>
            </ul>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mission name</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>World</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
            {% for mission in data %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('missions.view_mission_on_server', name = mission.name)}}">{{mission.name}}</a></td>
                    <td><span class="label label-{{mission.status}}">{{mission.status}}</span></td>
                    <td><span class="value mission-type {{mission.mission_type}}">{{mission.mission_type}}</span></td>
                    <td>{{mission.world}}</td>
                    <td>{{mission.author}}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
