<!DOCTYPE html>
<html lang="en">
<head>
    <title>Missions in database</title>
    <script src="{{ url_for('static', filename='js/missions.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-text">
            Missionary
        </div>
        <ul class=navbar>
            <li><a class="navbar-active" href="#">Submissions</a></li>
            <li><a href="#">On server</a></li>
            <li><a href="#">Submit</a></li>
        </ul>  
    </div>
    <div class="content">  
        <h1>Missions awainting approval</h1>
        <table>
            <tr>
                <th>test</th>
            </tr>
            <tr>
                <td>12</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>