<!DOCTYPE html>
<html lang="en">
<head>
    <title>Missions in database</title>
    <script src="{{ url_for('static', filename='js/missions.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
</head>
<body>
    <div class="header">
        <div class="header-text">
            Missionary
        </div>
        <ul class=navbar>
          <li><a class="navbar-active" href="{{url_for('missions.display_submissions')}}">Submissions</a></li>
          <li><a href="{{url_for('missions.display_missions')}}">On server</a></li>
          <li><a href="{{url_for('missions.submit_mission')}}">Submit</a></li>
        </ul>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mission name</th>
                    <th>Status</th>
                    <th>Updated</th>
                    <th>Submitted</th>
                    <th>Type</th>
                    <th>World</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
            {% for mission in data %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('missions.view_submission', id = mission.id)}}">{{mission.name}}</a></td>
                    <td><span class="label label-{{mission.status}}">{{mission.status}}</span></td>
                    <td>{{mission.updated}}</td>
                    <td>
                        <span title="{{mission.created}}">{{ 'today' if (today - mission.created.date()).days <= 0 else (today - mission.created.date()).days ~ ' days ago' }}</span>
                    </td>
                    <td><span class="value mission-type {{mission.mission_type}}">{{mission.mission_type}}</span></td>
                    <td>{{mission.world}}</td>
                    <td>{{mission.author}}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
