<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mission submission handling</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/missions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.80028.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="note">
            
            {% for message in messages %}
                <span class="notification">{{ message }}</span></li>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}



        <div class="header">
            <div class="header-text">
            Missionary
            </div>
            <ul class=navbar>
                <li><a class="navbar-active" href="#">Submissions</a></li>
                <li><a href="#">On server</a></li>
                <li><a href="#">Submit</a></li>
            </ul>  
        </div>
        <div class="content">     
        <span class ="value mission-status {{statuses[0].lower()}}"><h1>{{mission.name}} by {{mission.author}}</h1></span>
        <form action="{{url_for('missions.view_submission', id = mission.id)}}" method=POST>
            <ul class=details>
                <li class=details-li>Mission type: <span class="value mission-type {{mission.mission_type}}">{{ mission.mission_type.upper() }}</span></li>
                 <li class=details-li>Playercount:{{mission.player_count}}</li>                      
                 <li class=details-li>minplay: <select name="min_play">
                {% for i in range(mission.player_count, -1, -1) %}
                <option {% if i|string() == mission.min_play|string() %} selected="selected" {% endif %} value={{i}}>{{i}}</option>
                {% endfor %}
                </select></li>
                 <li class=details-li>Status: <select name="status">
                {% for status in statuses %}
                <option value={{status}}>{{status}}</option>
                {% endfor %}
                </select></li>
                <li class=details-li>World: {{mission.world}}</li>   
                <li class=details-li>Assigne: {{mission.world}}</li>  
                <li><label for="host_notes">
                        <div class="textarea-label">
                            <span class="textarea-label-text">
                                Host notes
                            </span>
                        </div>
                    </label>
                    <textarea rows="5" name="host_notes" id="host_notes">{{mission.host_notes}}</textarea>
                </li>
                <li><input type="submit" value="Update"></li>
            </ul>
        </form>
        <ul class=details>
 
                <li>
                    <div class="textarea-label">
                        <span class="textarea-label-text">
                            Comments
                        </span>
                    </div>
                </li>
       {% for comment in comments %}       
        <li><div class="comment-header">{{comment.author}} added a comment - {{comment.created.date()}}</div></li>
        <div class="panel">
            <li><span> {{comment.comment}} </span></li>
        </div>
        {% endfor %}
        <form action="{{url_for('missions.view_submission', id = mission.id)}}" method=POST>
            <li><textarea rows="5"  name="comment"></textarea></li>
            <li><input type="submit" value="Comment" name="action"></li>    
        </form>
        </ul>
        </div>
</div>

</body>
</html>