<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Shit not found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    <strike>Sorry, an error has occured, Requested page not found!</strike><br />
                    You fucking wat m8, yo took a wrong turn into the wrong neighbourhood son
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>